.container {
    border-radius: 1em;
    background-color: rgba(0, 0, 0, 0.2);
    position: relative;
    height: 400px;
    overflow: hidden;
    padding-top: 2em;
}

.container :global .recharts-responsive-container {
    margin: 0 -4px;
    transform: scale(1.02);
}
