@import url("normalize.css");

:root {
  /* Colors */
  --color-dark: #151217;
  --color-light: #ffffff;
  --color-brand: #575fcf;
}

html, body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background: var(--color-dark);
  color: var(--color-light);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

*::before, *::after {
  box-sizing: inherit;
}

h2 {
  font-size: 1em;
  text-transform: uppercase;
  color: #ccc;
}

.recharts-tooltip-label {
  color: #333333;
}
